<center>
<form class="add-restaurant" action="/restaurants/<%=@restaurant.id%>" method="POST"><br>
   <input type="hidden" name="_method" value="PUT"><br>
  Name:
  <input type="text" name="restaurant[name]" value="<%=@restaurant.name%>"><br>
  Cuisine:
  <input type="text" name="restaurant[cuisine]" value="<%=@restaurant.cuisine%>"><br>
  Address:
  <input type="text" name="restaurant[address]" value="<%=@restaurant.address%>"><br>
  City:
  <input type="text" name="restaurant[city]" value="<%=@restaurant.city%>"><br>
  Zip Code:
  <input type="text" name="restaurant[zip_code]" value="<%=@restaurant.zip_code%>"><br>
  <input type="submit" name="" value="Add Restaurant!">

</form>

</center>
